services:
  postgres:
    image: bitnami/postgresql:latest
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRESQL_USERNAME=${DB_USER}
      - POSTGRESQL_PASSWORD=${DB_PASSWORD}
      - POSTGRESQL_DATABASE=${DB_NAME}
    ports:
      - '${DB_PORT}:5432'
    volumes:
      - postgres_data:/bitnami/postgresql

volumes:
  postgres_data: