# Web framework
sanic==25.3.0

# CORS support for Sanic
sanic-cors==2.2.0

# Color formatting for terminal output
termcolor==3.2.0

# Asynchronous ORM
SQLAlchemy==2.0.44

# PostgreSQL driver
psycopg2-binary==2.9.11
jsonschema==4.25.1

# Environment variable management
python-dotenv==1.0.1
